{% extends 'base.html.twig' %}

{% block title %}ColisChimere - Commandes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Commandes</h1>

    {% for commande in commandes %}
        <div>id: {{ commande.id }} - hauteur: {{ commande.hauteur }}</div>
    {% endfor %}

    <a href="/commande/new">Nouvelle Commande</a>
</div>
{% endblock %}
