{% extends 'base.html.twig' %}

{% block title %}Créer Relai{% endblock %}

{% block body %}
    <h1>Créer Relai</h1>
    <div>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}
